<a href="https://colab.research.google.com/github/ErikaDenisse29/ColabFiles/blob/main/Practica15_256027.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **Limpieza y Transformación de Datos-Prácticas 11,12,13,14,15**

**Practica 11:** **Carga de Datos**

Al final del archivo contiene una línea que dice "Esta es una línea que no deberías cargar". Esta línea es irrelevante por lo tanto al cargar el CSV a un dataframe se debería de ignorar.


*   Carga el archivo a un dataframe usando el código necesario para omitir la última fila.
*   Usa df.tail(3) para demostrar que no has cargado la última línea.
*   Imprime la cantidad de filas y columnas del dataframe.

In [33]:
import pandas as pd
import numpy as np

df = pd.read_csv("drive/MyDrive/miaad-nyc-r-s.csv", low_memory=False) #dtype=str
#print(df.head())
print(df.tail(3))

print(f"El DataFrame tiene {df.shape[0]} filas y {df.shape[1]} columnas.")

                                     Unnamed: 0  BOROUGH NEIGHBORHOOD  \
84546                                      8412      5.0      WOODROW
84547                                      8413      5.0      WOODROW
84548  Esta es una línea que no deberías cargar      NaN          NaN

                           BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  \
84546  22 STORE BUILDINGS                                             4
84547  35 INDOOR PUBLIC AND CULTURAL FACILITIES                       4
84548                                          NaN                  NaN

        BLOCK    LOT EASE-MENT BUILDING CLASS AT PRESENT  \
84546  7100.0   28.0                                  K6
84547  7105.0  679.0                                  P9
84548     NaN    NaN       NaN                       NaN

                     ADDRESS  ... RESIDENTIAL UNITS  COMMERCIAL UNITS  \
84546  2730 ARTHUR KILL ROAD  ...               0.0               7.0
84547      155 CLAY PIT ROAD  ...               0.0               1.0
84548                    NaN  ...               NaN               NaN

       TOTAL UNITS  LAND SQUARE FEET  GROSS SQUARE FEET YEAR BUILT  \
84546          7.0            208033              64117     2001.0
84547          1.0             10796               2400     2006.0
84548          NaN               NaN                NaN        NaN

      TAX CLASS AT TIME OF SALE  BUILDING CLASS AT TIME OF SALE  SALE PRICE  \
84546                       4.0                              K6    11693337
84547                       4.0                              P9       69300
84548                       NaN                             NaN         NaN

                 SALE DATE
84546  2016-12-21 00:00:00
84547  2016-10-27 00:00:00
84548                  NaN

[3 rows x 22 columns]
El DataFrame tiene 84549 filas y 22 columnas.

**Práctica 12:** **Agregar una columna**



*   Imprime los nombres de la columnas del archivo.
*   Asegúrate que el nombre de la primera columna debería ser INDEX MIIAD. Si esto no es así, entonces agrega dicho nombre a la columna y vuelve a imprimir los nombres para mostrar el cambio realizado.

In [34]:
print(df.columns)

if df.columns[0]!='INDEX MIIAD':
  df.rename(columns={df.columns[0]:'INDEX MIIAD'},inplace=True)

print(df.columns)

Index(['Unnamed: 0', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')
Index(['INDEX MIIAD', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

**Práctica 13:** **Normalización de los nombres de la columna.**



*   Normaliza los nombres de las columnas, los cuales deberán estar en minúsculas. Asimismo, reemplaza los espacios con guion bajo
*   Imprime los nombres de las columnas para demostrar que has realizado la normalización.

In [35]:
df.columns = df.columns.str.lower().str.replace(' ','_')
print(df.columns)

Index(['index_miiad', 'borough', 'neighborhood', 'building_class_category',
       'tax_class_at_present', 'block', 'lot', 'ease-ment',
       'building_class_at_present', 'address', 'apartment_number', 'zip_code',
       'residential_units', 'commercial_units', 'total_units',
       'land_square_feet', 'gross_square_feet', 'year_built',
       'tax_class_at_time_of_sale', 'building_class_at_time_of_sale',
       'sale_price', 'sale_date'],
      dtype='object')

**Práctica 14: Errores en los Tipos de Datos**


*   Imprime los tipos de datos de cada columna
*   Asegúrate que las columnas de SALE PRICE(sale_price), LAND SQUARE FEET (land_square_feet), GROSS SQUARE FEET (gross_square_feet) sean de tipo flotante. Escribe qué tipo de dato tienen asignado. Si no son correctos, realiza el cambio.
*   Imprime de nuevo los tipos de datos para demostrar que has arreglado el problema.

In [37]:
print(df.dtypes)

df['sale_price'] = df['sale_price'].replace(' -  ', np.nan)
df['land_square_feet'] = df['land_square_feet'].replace(' -  ', np.nan)
df['gross_square_feet'] = df['gross_square_feet'].replace(' -  ', np.nan)

df['sale_price'] = df['sale_price'].astype(float)
df['land_square_feet'] = df['land_square_feet'].astype(float)
df['gross_square_feet'] = df['gross_square_feet'].astype(float)

print(df.dtypes)

index_miiad                        object
borough                           float64
neighborhood                       object
building_class_category            object
tax_class_at_present               object
block                             float64
lot                               float64
ease-ment                          object
building_class_at_present          object
address                            object
apartment_number                   object
zip_code                          float64
residential_units                 float64
commercial_units                  float64
total_units                       float64
land_square_feet                   object
gross_square_feet                  object
year_built                        float64
tax_class_at_time_of_sale         float64
building_class_at_time_of_sale     object
sale_price                         object
sale_date                          object
dtype: object
index_miiad                        object
borough                           float64
neighborhood                       object
building_class_category            object
tax_class_at_present               object
block                             float64
lot                               float64
ease-ment                          object
building_class_at_present          object
address                            object
apartment_number                   object
zip_code                          float64
residential_units                 float64
commercial_units                  float64
total_units                       float64
land_square_feet                  float64
gross_square_feet                 float64
year_built                        float64
tax_class_at_time_of_sale         float64
building_class_at_time_of_sale     object
sale_price                        float64
sale_date                          object
dtype: object

**Práctica 15: Genera el diccionario de datos del dataframe preprocesado**

In [38]:
data_dictionary= df.dtypes.to_frame('Dtype').reset_index()
data_dictionary.columns=['Variable','Tipo de Dato']

print(data_dictionary)

                          Variable Tipo de Dato
0                      index_miiad       object
1                          borough      float64
2                     neighborhood       object
3          building_class_category       object
4             tax_class_at_present       object
5                            block      float64
6                              lot      float64
7                        ease-ment       object
8        building_class_at_present       object
9                          address       object
10                apartment_number       object
11                        zip_code      float64
12               residential_units      float64
13                commercial_units      float64
14                     total_units      float64
15                land_square_feet      float64
16               gross_square_feet      float64
17                      year_built      float64
18       tax_class_at_time_of_sale      float64
19  building_class_at_time_of_sale       object
20                      sale_price      float64
21                       sale_date       object