<a href="https://colab.research.google.com/github/ErikaDenisse29/ColabFiles/blob/main/Pr%C3%A1ctica_PySpark_%2B_MongoDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **Práctica: PySpark + MongoDB - Sample_Suplies Database**

1. Agrega la base de datos de ejemplo sample_suplies en Atlas. Revisa para ello el Documento Word que se Adjunta.

2. En tu consola de MongoDB Atlas, para esta práctica, crea un nombre de usuario que tenga la siguiente forma "user_matricula". Recuerda poner tu matrícula. Como Password para este usuario usa tu número de matrìcula.

In [1]:

!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!pip install pyspark==3.4.1

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

print("Spark 3.4.1 instalado (compatible)")

Requirement already satisfied: pyspark==3.4.1 in /usr/local/lib/python3.12/dist-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark==3.4.1) (0.10.9.7)
Spark 3.4.1 instalado (compatible)

In [2]:

!wget -q https://repo1.maven.org/maven2/org/mongodb/spark/mongo-spark-connector_2.12/3.0.1/mongo-spark-connector_2.12-3.0.1.jar
!wget -q https://repo1.maven.org/maven2/org/mongodb/mongo-java-driver/3.12.11/mongo-java-driver-3.12.11.jar

print("Conectores compatibles descargados")

Conectores compatibles descargados

3. Crea un notebook en Colab y construye la conexión de SparkSession con MongoDB usando la cadena SRV. Usa el nombre de usuario y password que creaste en el paso 2. Muestra que la conexión ha sido existosa.

In [3]:

from pyspark.sql import SparkSession

MONGO_URI = "mongodb+srv://user_256027:256027@cluster0.w7m7pxg.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
DATABASE_NAME = "sample_supplies"
COLLECTION_NAME = "sales"

print("=== CONFIGURANDO CONEXIÓN A MONGODB ===")
print(f"URI: {MONGO_URI}")
print(f"Database: {DATABASE_NAME}")
print(f"Collection: {COLLECTION_NAME}")

spark = SparkSession.builder \
    .appName("MongoDBRealConnection") \
    .config("spark.jars",
            "mongo-spark-connector_2.12-3.0.1.jar,"
            "mongo-java-driver-3.12.11.jar") \
    .config("spark.sql.adaptive.enabled", "true") \
    .master("local[*]") \
    .getOrCreate()

print("SparkSession 3.4.1 configurada")
print(f"Spark version: {spark.version}")

=== CONFIGURANDO CONEXIÓN A MONGODB ===
URI: mongodb+srv://user_256027:256027@cluster0.w7m7pxg.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
Database: sample_supplies
Collection: sales
SparkSession 3.4.1 configurada
Spark version: 3.4.1

In [4]:

print("\n=== ESTABLECIENDO CONEXIÓN A MONGODB ATLAS ===")

try:
    df_sales = spark.read \
        .format("com.mongodb.spark.sql.DefaultSource") \
        .option("uri", MONGO_URI) \
        .option("database", DATABASE_NAME) \
        .option("collection", COLLECTION_NAME) \
        .option("ssl", "true") \
        .option("sslInvalidHostNameAllowed", "true") \
        .load()

    count = df_sales.count()

    print("¡CONEXIÓN EXITOSA A MONGODB ATLAS!")
    print("Spark + MongoDB integrados correctamente")
    print(f"Usuario: user_256027")
    print(f"Base de datos: {DATABASE_NAME}")
    print(f"Colección: {COLLECTION_NAME}")
    print(f"Documentos leídos: {count:,}")


    print("\n" + "="*60)
    print("CONEXIÓN ESTABLECIDA EXITOSAMENTE")
    print("="*60)
    print("✓ SparkSession con MongoDB Atlas")
    print("✓ Autenticación con user_256027")
    print("✓ Cadena SRV utilizada correctamente")
    print("✓ Datos reales de sample_supplies.sales")
    print("="*60)

except Exception as e:
    print(f"Error en conexión: {e}")


    print("\nVERIFICAR EN MONGODB ATLAS:")
    print("1. Network Access → Agregar IP 0.0.0.0/0")
    print("2. Database Access → user_256027 con permisos")
    print("3. Esperar 2 minutos después de los cambios")

=== ESTABLECIENDO CONEXIÓN A MONGODB ATLAS ===
¡CONEXIÓN EXITOSA A MONGODB ATLAS!
Spark + MongoDB integrados correctamente
Usuario: user_256027
Base de datos: sample_supplies
Colección: sales
Documentos leídos: 5,000

============================================================
CONEXIÓN ESTABLECIDA EXITOSAMENTE
============================================================
✓ SparkSession con MongoDB Atlas
✓ Autenticación con user_256027
✓ Cadena SRV utilizada correctamente
✓ Datos reales de sample_supplies.sales
============================================================

4. Usa la base de datos sample_supplies y lee la colección "sales" como un dataframe y explórala. Imprime el schema, número de filas estimadas (count) y el tipo de datos (df.dtypes).

In [9]:

print("\n" + "="*80)
print("EXPLORACIÓN DE sample_supplies.sales")
print("="*80)


print("SCHEMA DEL DATAFRAME:")
df_sales.printSchema()

print("\nTIPOS DE DATOS (df.dtypes):")
print("{:<30} {:<15}".format("COLUMNA", "TIPO"))
print("-" * 50)
for col_name, col_type in df_sales.dtypes:
    print("{:<30} {:<15}".format(col_name, col_type))


row_count = df_sales.count()
print(f"\nNÚMERO DE FILAS ESTIMADAS (count): {row_count:,}")

print(f"\nINFORMACIÓN ADICIONAL:")
print(f"   • Número de columnas: {len(df_sales.columns)}")
print(f"   • Memoria aproximada: {row_count * len(df_sales.columns):,} elementos")


print(f"\nMUESTRA DE DATOS (primeras 5 filas - columnas básicas):")
df_sales.select("_id", "saleDate", "storeLocation", "purchaseMethod", "couponUsed").show(5, truncate=False)

print(f"\nMUESTRA DE DATOS (primeras 3 filas - todas las columnas):")
df_sales.show(3, vertical=True)

================================================================================
EXPLORACIÓN DE sample_supplies.sales
================================================================================
SCHEMA DEL DATAFRAME:
root
 |-- _id: struct (nullable = true)
 |    |-- oid: string (nullable = true)
 |-- couponUsed: boolean (nullable = true)
 |-- customer: struct (nullable = true)
 |    |-- gender: string (nullable = true)
 |    |-- age: integer (nullable = true)
 |    |-- email: string (nullable = true)
 |    |-- satisfaction: integer (nullable = true)
 |-- items: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- name: string (nullable = true)
 |    |    |-- price: decimal(6,2) (nullable = true)
 |    |    |-- quantity: integer (nullable = true)
 |    |    |-- tags: array (nullable = true)
 |    |    |    |-- element: string (containsNull = true)
 |-- purchaseMethod: string (nullable = true)
 |-- saleDate: timestamp (nullable = true)
 |-- storeLocation: string (nullable = true)


TIPOS DE DATOS (df.dtypes):
COLUMNA                        TIPO
--------------------------------------------------
_id                            struct<oid:string>
couponUsed                     boolean
customer                       struct<gender:string,age:int,email:string,satisfaction:int>
items                          array<struct<name:string,price:decimal(6,2),quantity:int,tags:array<string>>>
purchaseMethod                 string
saleDate                       timestamp
storeLocation                  string

NÚMERO DE FILAS ESTIMADAS (count): 5,000

INFORMACIÓN ADICIONAL:
   • Número de columnas: 7
   • Memoria aproximada: 35,000 elementos

MUESTRA DE DATOS (primeras 5 filas - columnas básicas):
+--------------------------+-----------------------+-------------+--------------+----------+
|_id                       |saleDate               |storeLocation|purchaseMethod|couponUsed|
+--------------------------+-----------------------+-------------+--------------+----------+
|{5bd761dcae323e45a93ccfe8}|2015-03-23 21:06:49.506|Denver       |Online        |true      |
|{5bd761dcae323e45a93ccfe9}|2015-08-25 10:01:02.918|Seattle      |Phone         |false     |
|{5bd761dcae323e45a93ccfea}|2017-06-22 09:54:14.185|Denver       |In store      |false     |
|{5bd761dcae323e45a93ccfeb}|2015-02-23 09:53:59.343|Seattle      |In store      |false     |
|{5bd761dcae323e45a93ccfec}|2017-12-03 18:39:48.253|London       |In store      |false     |
+--------------------------+-----------------------+-------------+--------------+----------+
only showing top 5 rows


MUESTRA DE DATOS (primeras 3 filas - todas las columnas):
-RECORD 0------------------------------
 _id            | {5bd761dcae323e45...
 couponUsed     | true
 customer       | {M, 42, cauho@wit...
 items          | [{printer paper, ...
 purchaseMethod | Online
 saleDate       | 2015-03-23 21:06:...
 storeLocation  | Denver
-RECORD 1------------------------------
 _id            | {5bd761dcae323e45...
 couponUsed     | false
 customer       | {M, 50, keecade@h...
 items          | [{envelopes, 8.05...
 purchaseMethod | Phone
 saleDate       | 2015-08-25 10:01:...
 storeLocation  | Seattle
-RECORD 2------------------------------
 _id            | {5bd761dcae323e45...
 couponUsed     | false
 customer       | {M, 51, worbiduh@...
 items          | [{notepad, 30.08,...
 purchaseMethod | In store
 saleDate       | 2017-06-22 09:54:...
 storeLocation  | Denver
only showing top 3 rows

5. Crea una vista temporal llamada "sales_view" y ejecuta las siguientes consultas en Spark SQL

a) Consulta cuántos documentos tiene sales_view.

In [7]:

print("\n" + "="*80)
print(" VISTA TEMPORAL Y CONSULTAS SPARK SQL")
print("="*80)

df_sales.createOrReplaceTempView("sales_view")
print("Vista temporal 'sales_view' creada exitosamente")

print(f"\nDocumentos en la vista: {spark.sql('SELECT COUNT(*) as total FROM sales_view').collect()[0]['total']:,}")

================================================================================
 VISTA TEMPORAL Y CONSULTAS SPARK SQL
================================================================================
Vista temporal 'sales_view' creada exitosamente

Documentos en la vista: 5,000

b) Agrupa por storeLocation y ordena de mayor a menor.

In [8]:

print("\n" + "="*60)
print(" AGRUPAR POR storeLocation")
print("="*60)

query_b = """
SELECT
    storeLocation,
    COUNT(*) as cantidad_ventas,
    ROUND(COUNT(*) * 100.0 / (SELECT COUNT(*) FROM sales_view), 2) as porcentaje
FROM sales_view
GROUP BY storeLocation
ORDER BY cantidad_ventas DESC
"""

result_b = spark.sql(query_b)
print("Ventas por ubicación de tienda:")
result_b.show()

============================================================
 AGRUPAR POR storeLocation
============================================================
Ventas por ubicación de tienda:
+-------------+---------------+----------+
|storeLocation|cantidad_ventas|porcentaje|
+-------------+---------------+----------+
|       Denver|           1549|     30.98|
|      Seattle|           1134|     22.68|
|       London|            794|     15.88|
|       Austin|            676|     13.52|
|     New York|            501|     10.02|
|    San Diego|            346|      6.92|
+-------------+---------------+----------+

c) Imprime los clientes cuya edad es mayor 42

In [9]:

print("\n" + "="*60)
print("CLIENTES CON EDAD MAYOR A 42 AÑOS")
print("="*60)

query_c = """
SELECT
    customer.email as email,
    customer.age as edad,
    customer.gender as genero,
    storeLocation as ubicacion_tienda,
    purchaseMethod as metodo_compra,
    saleDate as fecha_venta
FROM sales_view
WHERE customer.age > 42
ORDER BY customer.age DESC
"""

result_c = spark.sql(query_c)
print("Clientes con edad mayor a 42 años:")
result_c.show()

============================================================
CLIENTES CON EDAD MAYOR A 42 AÑOS
============================================================
Clientes con edad mayor a 42 años:
+-------------------+----+------+----------------+-------------+--------------------+
|              email|edad|genero|ubicacion_tienda|metodo_compra|         fecha_venta|
+-------------------+----+------+----------------+-------------+--------------------+
|      edoos@tair.bi|  75|     F|       San Diego|     In store|2017-06-04 09:35:...|
| hawen@ezujeghop.gl|  75|     F|          London|       Online|2014-01-13 16:06:...|
|        kumog@se.cu|  75|     M|       San Diego|     In store|2016-06-13 16:30:...|
|   huit@vebvodco.to|  75|     M|          London|     In store|2017-04-26 04:20:...|
|          ic@hip.dz|  75|     F|          Denver|     In store|2014-06-10 21:47:...|
|jiwdivav@ujcanto.tw|  75|     M|        New York|       Online|2016-08-31 19:34:...|
|        osda@laz.sl|  75|     M|         Seattle|     In store|2014-07-20 19:40:...|
|     mappow@nilo.pe|  75|     F|         Seattle|        Phone|2013-08-29 07:27:...|
|       owu@jefwu.ni|  75|     M|          London|     In store|2015-07-10 16:18:...|
|       kef@nubej.eh|  75|     F|          Denver|       Online|2015-10-12 13:59:...|
|           zo@hi.fk|  75|     F|          Denver|       Online|2015-10-22 11:12:...|
|          fok@ro.us|  75|     F|        New York|     In store|2013-03-29 13:43:...|
|widowso@rozzuzsi.ae|  75|     F|          Denver|       Online|2017-11-18 06:20:...|
|         ah@fuuz.ke|  75|     M|         Seattle|     In store|2015-12-14 14:42:...|
|   hajol@haigego.sb|  75|     F|          London|     In store|2016-08-28 14:33:...|
|akeciban@koemoku.pe|  75|     M|          London|       Online|2013-10-15 09:16:...|
|        kude@sik.mp|  75|     F|          Austin|     In store|2014-03-08 14:05:...|
|         zid@mic.al|  75|     F|          Denver|     In store|2017-05-31 16:00:...|
|    fak@uhibiala.yt|  75|     F|         Seattle|       Online|2016-07-27 01:21:...|
|     ockod@jedvi.uz|  75|     F|         Seattle|        Phone|2017-03-21 00:19:...|
+-------------------+----+------+----------------+-------------+--------------------+
only showing top 20 rows

d) Imprime el valor mínimo y máximo de satisfaction que está dentro de customer.

In [13]:

print("\n" + "="*70)
print(" VALOR MÍNIMO Y MÁXIMO DE SATISFACTION")
print("="*70)

query_d = """
SELECT
    MIN(customer.satisfaction) as satisfaccion_minima,
    MAX(customer.satisfaction) as satisfaccion_maxima,
    COUNT(*) as total_clientes
FROM sales_view
WHERE customer.satisfaction IS NOT NULL
"""

result_d = spark.sql(query_d)
print("Niveles de satisfacción del cliente:")
result_d.show()

======================================================================
 VALOR MÍNIMO Y MÁXIMO DE SATISFACTION
======================================================================
Niveles de satisfacción del cliente:
+-------------------+-------------------+--------------+
|satisfaccion_minima|satisfaccion_maxima|total_clientes|
+-------------------+-------------------+--------------+
|                  1|                  5|          5000|
+-------------------+-------------------+--------------+

e) Agrupa por el mètodo de compra purchaseMethod y ordena.

In [16]:
print("\n" + "="*60)
print("AGRUPAR POR purchaseMethod")
print("="*60)

query_e = """
SELECT
    purchaseMethod as metodo_compra,
    COUNT(*) as cantidad_ventas,
    ROUND(COUNT(*) * 100.0 / (SELECT COUNT(*) FROM sales_view), 2) as porcentaje_total,
    ROUND(AVG(CASE WHEN couponUsed THEN 1 ELSE 0 END) * 100, 2) as porcentaje_cupones
FROM sales_view
GROUP BY purchaseMethod
ORDER BY cantidad_ventas DESC
"""

result_e = spark.sql(query_e)
print("Métodos de compra:")
result_e.show()

============================================================
AGRUPAR POR purchaseMethod
============================================================
Métodos de compra:
+-------------+---------------+----------------+------------------+
|metodo_compra|cantidad_ventas|porcentaje_total|porcentaje_cupones|
+-------------+---------------+----------------+------------------+
|     In store|           2819|           56.38|              9.44|
|       Online|           1585|           31.70|              9.34|
|        Phone|            596|           11.92|             10.57|
+-------------+---------------+----------------+------------------+